<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.cmpt276.as3.mineseeker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.ChooseBoardSize"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.ChooseAsteroids"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.CongratsScreen"
            android:screenOrientation="landscape"
            android:theme= "@style/AppTheme.Pop"/>
        <activity
            android:name=".ui.GamePlay"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.Options"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.HelpMenu"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.Menu"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>